.row{
    display: flex;
    justify-content: space-evenly;
    height: 600PX;
    /* background-image: url(https://images.pexels.com/photos/2506988/pexels-photo-2506988.jpeg?cs=srgb&dl=pexels-quark-studio-2506988.jpg&fm=jpg); */
}
.col{
    width: 300px;
    height: 400px;
}
.col img{
    width: 300px;
}
.heading{
    color: black;
    font-weight: 900;
    font-style: italic;
}