.navbar{
    position: sticky;
    top: 0;
    z-index: 9999;
}
.heading{
    color: black;
    font-weight: 900;
    font-style: italic;
}
.row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 800px;
    /* background-image: url(https://www.theleela.com/prod/content/assets/styles/tl_500_400_webp/public/2021-05/The-Leela-Palace-Bengaluru_1.jpg.webp?VersionId=JBEiH9mdUH7_6y_pWELw9cC3uRbZFZ0g&itok=Yajz4Sv0); */
    
}
.card{
    width: 300px ;
    height: 800px;
}
.card img{
    height: 300px;
    /* padding-top: 5px; */
}
.card img:hover{
    width: 300px;
}
.card-body{
    width: 600px ;
    height: 800px;
}
.card-text{
    width: 200px;
    height: 500px;
    text-align: justify;
    margin: 5px;
}

